<footer class="footer bg-dark pt-1">
  <div>
    <div class="row m-2">
      <div class="col-md-4 text-md-left text-white">
        <h6 class=" text-uppercase  font-weight-bold">
          Italian Boutique "SisterS"
        </h6>
        <p>Some story about our shop ..
          Here you can use rows and columns here to organize your footer content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-4 text-md-left text-white">
        <h6 class=" text-uppercase font-weight-bold">
          Our brands
        </h6>
        <p>
          <a href="" class="text-white">To be too</a>
        </p>
        <p>
          <a href="" class="text-white">Gayaluna</a>
        </p>
        <p>
          <a href="" class="text-white">Artiglie</a>
        </p>
        <p>
          <a href="" class="text-white">Some others</a>
        </p>
      </div>
      <div class="col-md-4 text-md-left text-white">
        <h6 class=" text-uppercase  font-weight-bold">
          contacts
        </h6>
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fab fa-viber mr-3"></i> + 01 234 567 89</p>
      </div>
    </div>
    <hr class="rgba-white-light">
    <div class="row mt-1">
      <div class="col-md-6 text-center">
        <ul class="list-inline">
          <li class="list-inline-item ml-3">
            <h6 class="text-white text-uppercase font-weight-bold">Follow us:</h6>
          </li>
          <li class="list-inline-item ml-3">
            <a class=" btn-fb">
              <i class="btn-social fab fa-facebook-square"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a class=" btn-inst">
              <i class="btn-social fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a class=" btn-youtube">
              <i class="btn-social fab fa-youtube-square"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a class=" btn-tw">
              <i class="btn-social fab fa-twitter-square"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <form class="form-inline">
          <label for="inputMail" class="sr-only">Email</label>
          <input type="email" class="form-control" id="inputMail" placeholder="I would like to get news !">
          <button type="button" class="btn btn-danger ml-2"><i class="far fa-envelope-open"></i></button>
        </form>
      </div>
    </div>
    <div class="footer-copyright">
      <span> © 2019 Copyright:</span><a href="#" class="text-white ml-2 alert-link">SisterS Italian Boutique</a><br/>
      <span class="text-white ">Made with <i class="fas fa-heart"></i> for You</span>
    </div>
  </div>
</footer>

